/*
  PMO Master
  Raymundo Paz
  September 30th, 2025
*/

div.workplan-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem 3.5rem auto minmax(0, 1fr);
  grid-template-areas:
  "title"
  "header"
  "subheader"
  "workplan";
  padding: 1rem;

  div.title-container {
    display: flex;
    grid-area: title;

    > span.title {
      font-family: 'Roboto Flex', serif;
      font-size: 2rem;
      line-height: 2.5rem;
      font-variation-settings: 
        "wght" 600,
        "GRAD" 100;
    }

    > button.edit-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-left: auto;

      > span.material-symbols-rounded {
        font-size: 1.25rem;
      }
    }
  }


  > div.header {
    width: 100%;
    justify-self: center;
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(4, 1fr) 2rem;
    grid-template-rows: auto;
    margin-top: 0.5rem;

    > div.column {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      user-select: none;

      > span.label {
        font-family: 'Roboto Flex';
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-variation-settings: 
        "wght" 500,
        "GRAD" 100;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      > span.value {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: 'Roboto Flex';
        font-size: 1rem;
        line-height: 1.5rem;
        font-variation-settings: 
          "wght" 400;
        text-align: center;
      }
    }

    > button.collapse {
      opacity: 0;
      align-self: center;
      width: 1.5rem;
      height: 1.5rem;
      aspect-ratio: 1;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      pointer-events: none;
      user-select: none;

      > span {
        font-size: 1.25rem;
      }
    }

    &:hover {
      > button.collapse {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  > div.subheader {
    display: grid;
    grid-area: subheader;
    grid-template-rows: var(--collapsed);
    transition: all 200ms cubic-bezier(0, 0, 0, 1);

    > div.container {
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;

      > div.column {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        > span.label {
          font-family: 'Roboto Flex';
          font-size: 1rem;
          line-height: 1.25rem;
          font-variation-settings:
            "wght" 500,
            "GRAD" 100;
          text-align: center;
        }

        > span.value {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-family: 'Roboto Flex';
          font-size: 0.875rem;
          line-height: 1.25rem;
          font-variation-settings:
            "wght" 400;
          text-align: center;
        }
      }
    }


  }

  > div.workplan-container {
    grid-area: workplan;
    overflow: auto;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    margin-top: 0.5rem;
  }
}