/*
  PMO Master
  Raymundo Paz
  October 4th, 2025
*/

div.collapsible-row {
  display: grid;
  grid-template-columns: var(--widths);
  min-height: 2rem;
}

div.collapsible-row.header {
  background-color: var(--color);
}