/*
  PMO Master
  Raymundo Paz
  September 30th, 2025
*/

div.title-bar {
  height: 2.5rem;
  user-select: none;
  display: grid;
  grid-template-columns: 2.5rem minmax(0, 1fr) auto;
  grid-template-rows: 1fr;
  align-items: center;

  > span {
    pointer-events: none;
  }

  > div.window-controls {
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 100%;

    > button.window-control {
      width: 3rem;
      background-color: transparent;
      border: none;

      &:hover {
        background-color: #efefef;
      }

      &[data-action="close"]:hover {
        background-color: red;
        color: white;
      }
    }
  }
}