/*
  PMO Master
  Raymundo Paz
  October 10th, 2025
*/

div.slider-container {
  margin-top: 2rem;  /* TODO: Remove this */

  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;

  > div.left {
    width: 0%;
    background-color: var(--md-sys-color-primary);
  }

  > button.handle-container {
    position: absolute;
    display: flex;
    background-color: transparent;
    width: 1rem;
    border: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    > span.handle {
      width: 0.25rem;
      height: 100%;
      background-color: var(--md-sys-color-primary);
      border-radius: 0.125rem;
      pointer-events: none;
    }
  }

  > div.right {
    width: 100%;
    background-color: var(--md-sys-color-secondary-container);
  }

  > span.value-indicator {
    position: absolute;
    left: calc(0px - 0.5rem);
    top: -1.4375rem;
    text-align: center;
    transform: translate(-35%, -50%);
    padding: 0.75rem 1rem;
    font-family: 'Roboto Flex';
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 2rem;
    background-color: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
  }

  > span.icon.material-symbols-rounded {
    position: absolute;
    display: none;
  }

  > span.stop-indicator {
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    position: absolute;
    background-color: var(--md-sys-color-on-secondary-container);
    right: 0.25rem;
  }
}


div.slider-container.xs {
  height: 2.75rem;

  > div.left {
    height: 1rem;
    border-radius: 0.5rem 0.125rem 0.125rem 0.5rem;
  }

  > button.handle-container {
    height: 2.75rem;
  }
  
  > div.right {
    height: 1rem;
    border-radius: 0.125rem 0.5rem 0.5rem 0.125rem;
  }
}

div.slider-container.s {
  height: 2.75rem;

  > div.left {
    height: 1.5rem;
    border-radius: 0.5rem 0.125rem 0.125rem 0.5rem;
  }

  > button.handle-container {
    height: 2.75rem;
  }

  > div.right {
    height: 1.5rem;
    border-radius: 0.125rem 0.5rem 0.5rem 0.125rem;
  }
}

div.slider-container.m {
  height: 3.25rem;

  > div.left {
    height: 2.5rem;
    border-radius: 0.75rem 0.125rem 0.125rem 0.75rem;
  }

  > button.handle-container {
    height: 3.25rem;
  }

  > div.right {
    height: 2.5rem;
    border-radius: 0.125rem 0.75rem 0.75rem 0.125rem;
  }
}

div.slider-container.l {
  height: 4.25rem;

  > div.left {
    height: 3.5rem;
    border-radius: 1rem 0.125rem 0.125rem 1rem;
  }

  > button.handle-container {
    height: 4.25rem;
  }

  > div.right {
    height: 3.5rem;
    border-radius: 0.125rem 1rem 1rem 0.125rem;
  }
}

div.slider-container.xl {
  height: 6.75rem;

  > div.left {
    height: 6rem;
    border-radius: 1.75rem 0.125rem 0.125rem 1.75rem;
  }

  > button.handle-container {
    height: 6.75rem;
  }

  > div.right {
    height: 6rem;
    border-radius: 0.125rem 1.75rem 1.75rem 0.125rem;
  }
}
